DATABASE_URL=postgresql://USER:PASSWORD@ep-xxx-pooler.region.aws.neon.tech/hl_sales?sslmode=verify-full
AUTH_SECRET=generate-random-32-character-secret
AUTH_TRUST_HOST=true
ADMIN_EMAIL=admin@hl.local
ADMIN_PASSWORD=admin123
