POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_anda
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=hl_sales
AUTH_SECRET=generate-random-32-character-secret
ADMIN_EMAIL=admin@hl.local
ADMIN_PASSWORD=admin123
